.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem;
}

.title {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.05em;
    opacity: 0.5;
    margin-bottom: 4rem;
}